<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/todo.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>TODO List</title>
</head>

<body>
    <div id="container">
        <h1>ENTER NEW TODO</h1>
        <div>
            <form action="/" method="POST">
                <input type="text" name="todo[entry]">
            </form>

            <ul>
                <% for(var i=0;i<todo.length;i++) { %>
                <form action="/<%= todo[i]._id %>?_method=PUT" method="POST">
                    <% if(todo[i].completed == true){ %>
                    <li class="completed">
                        <a href="/<%= todo[i]._id %>?_method=DELETE" class="asd">X</a>
                        <input type="hidden" name="completed">
                        <%= todo[i].entry %>
                    </li>
                    <% } else{ %>
                    <li>
                        <a href="/<%= todo[i]._id %>?_method=DELETE" class="asd">X</a>
                        <input type="hidden" name="completed"> <%= todo[i].entry %>
                    </li>
                    <% } %>
                </form>
                <% } %>
            </ul>
        </div>
    </div>
    <script src="todo.js"></script>